<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sw551.fairfield.healthcheq" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetGoalsActivity"
            android:label="@string/title_activity_set_goals"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sw551.fairfield.healthcheq.MainActivity" />
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sw551.fairfield.healthcheq.MainActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NearbyPlacesActivity"
            android:label="@string/title_activity_nearby_places"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sw551.fairfield.healthcheq.MainActivity" />
        </activity>
        <activity
            android:name=".KnowTheFactsActivity"
            android:label="@string/title_activity_know_the_facts"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sw551.fairfield.healthcheq.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sw551.fairfield.healthcheq.MainActivity" />
        </activity>
        <activity
            android:name=".know_the_facts_child1"
            android:label="@string/title_activity_know_the_facts_child1"
            android:screenOrientation="portrait"
            android:parentActivityName=".KnowTheFactsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sw551.fairfield.healthcheq.KnowTheFactsActivity" />


        </activity>
        <activity
            android:name=".know_the_facts_child2"
            android:label="@string/title_activity_know_the_facts_child2"
            android:screenOrientation="portrait"
            android:parentActivityName=".KnowTheFactsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sw551.fairfield.healthcheq.KnowTheFactsActivity" />
        </activity>
    </application>

</manifest>
